<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResultFile=".build/phpunit/result.cache"
         failOnWarning="true"
         failOnRisky="true"
         executionOrder="random"
         stderr="true"
         beStrictAboutOutputDuringTests="true"
>
    <extensions>
        <bootstrap class="Ergebnis\PHPUnit\SlowTestDetector\Extension"/>
    </extensions>
    <testsuites>
        <testsuite name="Arch Tests">
            <directory>tests/src/Arch</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="DB_LOG_QUERY_PARAMETERS" value="true" />
        <env name="CYCLE_SCHEMA_CACHE" value="true" />
        <env name="QUEUE_CONNECTION" value="sync" />
        <env name="APP_ENV" value="testing" />
        <env name="TOKENIZER_CACHE_TARGETS" value="true" />
        <env name="TELEMETRY_DRIVER" value="null" />
        <env name="BROADCAST_DRIVER" value="log" />
        <env name="CACHE_STORAGE" value="file" />
    </php>
</phpunit>
