parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\$port of class Cycle\\\\Database\\\\Config\\\\MySQL\\\\TcpConnectionConfig constructor expects int\\<1, max\\>\\|numeric\\-string, int given\\.$#"
			count: 1
			path: config/database.php

		-
			message: "#^Parameter \\$port of class Cycle\\\\Database\\\\Config\\\\Postgres\\\\TcpConnectionConfig constructor expects int\\<1, max\\>\\|numeric\\-string, int given\\.$#"
			count: 1
			path: config/database.php

		-
			message: "#^Method Spiral\\\\Logger\\\\LogsInterface\\:\\:getLogger\\(\\) invoked with 0 parameters, 1 required\\.$#"
			count: 1
			path: src/Application/Payment/Activities/PaymentActivity.php

		-
			message: "#^Method Bridge\\\\Spiral\\\\Bootloaders\\\\AppBootloader\\:\\:defineInterceptors\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Bridge/Spiral/Bootloaders/AppBootloader.php

		-
			message: "#^Method Bridge\\\\Spiral\\\\Bootloaders\\\\LoggingBootloader\\:\\:__construct\\(\\) has parameter \\$config with generic interface Spiral\\\\Config\\\\ConfiguratorInterface but does not specify its types\\: TClass$#"
			count: 1
			path: src/Bridge/Spiral/Bootloaders/LoggingBootloader.php

		-
			message: "#^Property Bridge\\\\Spiral\\\\Bootloaders\\\\LoggingBootloader\\:\\:\\$config is never read, only written\\.$#"
			count: 1
			path: src/Bridge/Spiral/Bootloaders/LoggingBootloader.php

		-
			message: "#^Method Bridge\\\\Spiral\\\\Bootloaders\\\\RoutesBootloader\\:\\:middlewareGroups\\(\\) return type with generic class Spiral\\\\Core\\\\Container\\\\Autowire does not specify its types\\: TObject$#"
			count: 1
			path: src/Bridge/Spiral/Bootloaders/RoutesBootloader.php

		-
			message: "#^Class Bridge\\\\Spiral\\\\Console\\\\CreateUserCommand has an uninitialized readonly property \\$email\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/Bridge/Spiral/Console/CreateUserCommand.php

		-
			message: "#^Class Bridge\\\\Spiral\\\\Console\\\\CreateUserCommand has an uninitialized readonly property \\$username\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/Bridge/Spiral/Console/CreateUserCommand.php

		-
			message: "#^Property Bridge\\\\Spiral\\\\Console\\\\CreateUserCommand\\:\\:\\$email is never written, only read\\.$#"
			count: 1
			path: src/Bridge/Spiral/Console/CreateUserCommand.php

		-
			message: "#^Property Bridge\\\\Spiral\\\\Console\\\\CreateUserCommand\\:\\:\\$username is never written, only read\\.$#"
			count: 1
			path: src/Bridge/Spiral/Console/CreateUserCommand.php

		-
			message: "#^Class Bridge\\\\Spiral\\\\Console\\\\DoNothing has an uninitialized readonly property \\$name\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/Bridge/Spiral/Console/DoNothing.php

		-
			message: "#^Property Bridge\\\\Spiral\\\\Console\\\\DoNothing\\:\\:\\$name is never written, only read\\.$#"
			count: 1
			path: src/Bridge/Spiral/Console/DoNothing.php

		-
			message: "#^Class Bridge\\\\Spiral\\\\Console\\\\PingCommand has an uninitialized readonly property \\$site\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/Bridge/Spiral/Console/PingCommand.php

		-
			message: "#^Property Bridge\\\\Spiral\\\\Console\\\\PingCommand\\:\\:\\$site is never written, only read\\.$#"
			count: 1
			path: src/Bridge/Spiral/Console/PingCommand.php

		-
			message: "#^Method Spiral\\\\Logger\\\\LogsInterface\\:\\:getLogger\\(\\) invoked with 0 parameters, 1 required\\.$#"
			count: 1
			path: src/Bridge/Spiral/Public/Ping/Jobs/Ping.php

		-
			message: "#^Access to an undefined property Bridge\\\\Spiral\\\\Public\\\\Web\\\\HomeController\\:\\:\\$views\\.$#"
			count: 1
			path: src/Bridge/Spiral/Public/Web/HomeController.php

		-
			message: "#^Method Domain\\\\Payment\\\\PaymentWorkflowInterface\\:\\:start\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Domain/Payment/PaymentWorkflowInterface.php

		-
			message: "#^Class Domain\\\\User\\\\Entity\\\\User has an uninitialized readonly property \\$id\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/Domain/User/Entity/User.php

		-
			message: "#^Property Domain\\\\User\\\\Entity\\\\User\\:\\:\\$id is never written, only read\\.$#"
			count: 1
			path: src/Domain/User/Entity/User.php

		-
			message: "#^Method Infrastructure\\\\CycleORM\\\\Typecaster\\\\UuidTypecast\\:\\:cast\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Infrastructure/CycleORM/Typecaster/UuidTypecast.php

		-
			message: "#^Method Infrastructure\\\\CycleORM\\\\Typecaster\\\\UuidTypecast\\:\\:cast\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Infrastructure/CycleORM/Typecaster/UuidTypecast.php

		-
			message: "#^Method Infrastructure\\\\CycleORM\\\\Typecaster\\\\UuidTypecast\\:\\:uncast\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Infrastructure/CycleORM/Typecaster/UuidTypecast.php

		-
			message: "#^Method Infrastructure\\\\CycleORM\\\\Typecaster\\\\UuidTypecast\\:\\:uncast\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Infrastructure/CycleORM/Typecaster/UuidTypecast.php

		-
			message: "#^Property Infrastructure\\\\CycleORM\\\\Typecaster\\\\UuidTypecast\\:\\:\\$database is never read, only written\\.$#"
			count: 1
			path: src/Infrastructure/CycleORM/Typecaster/UuidTypecast.php

		-
			message: "#^Property Infrastructure\\\\CycleORM\\\\Typecaster\\\\UuidTypecast\\:\\:\\$rules type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Infrastructure/CycleORM/Typecaster/UuidTypecast.php

		-
			message: "#^Class App\\\\Bridge\\\\Spiral\\\\Public\\\\Ping\\\\Jobs\\\\Ping not found\\.$#"
			count: 3
			path: tests/Feature/Job/PingTest.php

		-
			message: "#^Call to an undefined static method Tests\\\\App\\\\TestKernel\\:\\:create\\(\\)\\.$#"
			count: 1
			path: tests/TestCase.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertFalse\\(\\) with false will always evaluate to true\\.$#"
			count: 1
			path: tests/Unit/DemoTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertTrue\\(\\) with true will always evaluate to true\\.$#"
			count: 1
			path: tests/Unit/DemoTest.php
