includes:
    - phpstan-baseline.neon
parameters:
    # The level 9 is the highest level
    level: 8
    paths:
        - config/
        - database/Factories
        - database/Seeders
        - src/
        - tests/
    excludePaths:
        - tests/src/Arch
    tmpDir: .build/phpstan/
